@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabajo Practico N°2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="empleado" asp-controller="Home" method="post">
     
    <fieldset>
        <legend>Datos del empleado</legend>
        <div class="col-md-6">
            <label for="nya" class="form-label">Apellido y Nombre:</label>
            <input type="text" class="form-control" name="nYa" value="" id="nya" />
         </div>
        <div class="col-md-6">
            <label for="dni" class="form-label">D.N.I: </label>
            <input type="number" class="form-control" name="dni" value="" id="dni" />
        </div>
        <div class="col-md-6">
            <label for="direccion" class="form-label">Direccion: </label>
            <input type="text" class="form-control" id="direccion" name="name" value="" />
        </div>
        
        <div class="col-md-6">
            <br /><label for="fechaN" class="form-label">Fecha de Nacimiento: </label>
            <input type="date" class="form-control" name="fechaNac" value="" id="fechaN" />
        </div> 
        <div class="col-md-6">
             <br /><label for="fechaI" class="form-label">Fecha de Ingreso a la empresa: </label>
             <input type="date" id="fechaI" class="form-control" name="fechaIngr" value="" />
        </div>

        <div class="col-md-12">
            <br /> <input type="submit" class="btn-primary" />
        </div>
            
</fieldset>
</form>